<.header>
  New Dates
  <:subtitle>Use this form to manage dates records in your database.</:subtitle>
</.header>

<.dates_form changeset={@changeset} action={~p"/dates"} />

<.back navigate={~p"/dates"}>Back to dates</.back>
