<.header>
  New Daily rankings
  <:subtitle>Use this form to manage daily_rankings records in your database.</:subtitle>
</.header>

<.daily_rankings_form changeset={@changeset} action={~p"/daily_rankings"} />

<.back navigate={~p"/daily_rankings"}>Back to daily_rankings</.back>
