<.header>
  Edit Coder <%= @coder.id %>
  <:subtitle>Use this form to manage coder records in your database.</:subtitle>
</.header>

<.coder_form changeset={@changeset} action={~p"/coders/#{@coder}"} />

<.back navigate={~p"/coders"}>Back to coders</.back>
