<.header>
  New Superheroes
  <:subtitle>Use this form to manage superheroes records in your database.</:subtitle>
</.header>

<.superheroes_form changeset={@changeset} action={~p"/superheroes"} />

<.back navigate={~p"/superheroes"}>Back to superheroes</.back>
